*{margin: 0; padding: 0; box-sizing: border-box;}
body{min-height: 100vh;margin: 0;}
#sidebar{
    background-color: #999999;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    width: 110px;
    z-index: 2;}
#sidebar_content{padding: 12px;}
#user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;}
#user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;}
#user_infos{
display: block;
flex-direction: column;}
#side_items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;}
.side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;}
.side-item.active {background-color: #4F46E5;}
.side-item:hover:not(.active),
#logout_btn:hover {background-color: #E3E9F7;}
#logout{
    border-top: 1px solid #E3E9F7;
    padding: 12px;}
#logout_btn{
        border: none;
        margin-top: 80px;
        padding: 12px;
        font-size: 20px;
        display: flex;
        gap: 20px;
        align-items: center;
        border-radius: 8px;
        text-align: start;
        cursor: pointer;
        background-color: transparent;
        color: #000401;}
#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #000000;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;}
#open_btn_icon{transition: transform .3s ease;}
.open-sidebar #open_btn_icon {transform: rotate(180deg);}
.item-description {
    width: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 8px;
    transition: width .6s;}
#sidebar.open-sidebar {min-width: 20%;}
#sidebar.open-sidebar .item-description {
    width: 150px;
    height: auto;}
#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;}
button{
    width: 50px;
    height: 30px;
    border-radius: 10%;}
#black_btn{background: #000000; color: #FFFFFF;}
#blue_btn{background: #002669;}
#green_btn{background: #336600;}
#yellow_btn{background: #FF7733;}
#red_btn{background: #800000;}
#purple_btn{background: #660066;}
#light_btn{background: #FFFFFF;}
h1{color: #000401;}